.lead-merge-modal {
  .card-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;

    .custom-radio {
      display: flex;
      align-items: center;
      padding-right: 1.3rem;

      label {
        font-weight: 400;
        font-size: 12px;
      }

      label::before, label::after {
        left: 5.8rem;
        width: 0.8rem;
        height: 0.8rem;
      }
    }
  }

  .card-body {
    background-color: #FAFBFC;

    svg {
      font-size: 10px;
      opacity: 0.2;
    }
  }

  .modal-body {
    max-height: 70vh;
    overflow-y: auto;
  }
}