venv/
node_modules
.idea/
*.pyo
*.pyc
frontend/static/bundles
frontend/static/*.json
frontend/static/backend
!frontend/static/ckeditor
old_frontend/public
old_frontend/static/backend
old_frontend/static/bundles
old_frontend/static/*.json
!old_frontend/static/ckeditor
backend/celerybeat-schedule
backend/media/customerLogo
backend/static/
/.env
/backend/media/call_recording/
/backend/media/
